@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
Media query manager

0 - 600 px ===> Phone

600 - 900 px ===> Portrait Tablet

900 - 1200 px ===> Landscape Tablet

1200 - 1800 px ===> Current Desktop

1800++ px ===> Big Desktops 

ORDER: Base + typography > general layout + grid > page layout > components

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
