.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333333%;
    }

    &--p1 {
      left: 0rem;
      top: -2rem;

      @include respond(tab-port) {
        top: 0rem;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0rem;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 1;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0rem;
        left: 0;
        transform: scale(1.3);
      }
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0rem 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
